/* Fonts
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
*/





/*#info p {
	text-align: left;
}
#info {
	margin-left: 25%
}*/
.header {
	font-size: 18pt;
}
img {
	width: 65%;
	height: auto;
}
* {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 15pt;
}
